<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="logs.css">
</head>
<body>
    <h3 class="heading">Logs</h3>

    <label for="log-filter">Filter by severity:</label>
    <select id="log-filter">
        <option value="fatal">Fatal Only</option>
        <option value="fatal-warning">Fatal + Warning</option>
        <option value="all">Fatal + Warning + Info</option>
    </select>

    <!-- <div id="selected-filter">Selected Filter: None</div> for testing -->

    <div id="log-container" >hello</div>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="logs.js"></script> -->
    
</body>
</html>
